<app-page-top [isHomePage]="false" imgPageTop="../../../assets/page-top-bg.png"></app-page-top>
<div class="container">
    <div class="row justify-content-center loading-container" *ngIf="loading">
        <div class="spinner-border text-success mt-2" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="" *ngIf="!loading">
        <app-breadcrumb></app-breadcrumb>
        <div class="row pb-3" style="height: 400px;">
            <div *ngFor="let item of filterCase" class="col-md-6 col-lg-6 col-sm-12 mt-3">
                <div class="card" style="width: 70%;">
                    <div class="card-body">
                        <h5 class="card-title">{{item.category2 || item.category1}}</h5>
                        <a href="{{item.url}}" target="__blank" class="card-link">Chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
        <ngb-pagination [collectionSize]="lstCate.length" [(page)]="curPage" [pageSize]="6" [rotate]="true"
            [boundaryLinks]="true" [maxSize]="6" (pageChange)="changeCurPage($event)">
        </ngb-pagination>
    </div>
</div>