.clients-section {
	position: relative;
	margin-bottom: -60px;
	background-color: #30caa0;
}

.clients-slider {
	background: #30caa0;
	padding: 27px 40px;
	border-radius: 3px;
}

.clients-slider a {
	display: block;
	text-align: center;
}