<div class="filter-section">
    <div class="container filter-search p-4 pt-1">
        <form class="form-group">
            <div class="row pt-2">
                <div class="col-sm-12 col-md-5 col-lg-5">
                    <input class="form-control" type="text"
                        placeholder="Enter a street name, address number or keyword">
                </div>
                <div class="col-sm-12 col-md-7 col-lg-7">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <select class="form-control">
                                <option value="City">City</option>
                            </select>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <select class="form-control">
                                <option value="State">State</option>
                            </select>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <button class="site-btn fs-submit form-control">SEARCH</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>