<app-page-top [isHomePage]="false" imgPageTop="../../../assets/page-top-bg.png"></app-page-top>
<div class="container">
    <app-breadcrumb></app-breadcrumb>
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
            <app-featured-card srcImage="1.jpg"></app-featured-card>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <app-featured-card srcImage="2.jpg"></app-featured-card>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <app-featured-card srcImage="3.jpg"></app-featured-card>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <app-featured-card srcImage="4.jpg"></app-featured-card>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <app-featured-card srcImage="5.jpg"></app-featured-card>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <app-featured-card srcImage="6.jpg"></app-featured-card>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <app-featured-card srcImage="7.jpg"></app-featured-card>
        </div>
    </div>
    <app-pagination></app-pagination>
</div>