.loading-container {
    position: relative;
    height: 70px;
    ngx-loading-bar {
        display: block;
        #loading-bar-spinner {
            position: absolute;
            top: 5px;
            left: 50%;
        }
        #loading-bar {
            .bar {
                position: absolute;
                .peg {
                    display: none;
                }
            }
        }
    }
}
.card {
    width: auto;
}
ngb-pagination ::ng-deep .pagination {
    justify-content: center;
    text-align: center;
}
ngb-pagination ::ng-deep .pagination a {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    border: 1px solid #e1e1e1;
    color: #717171;
    font-size: 18px;
    margin-right: 15px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    cursor: pointer;
}
ngb-pagination ::ng-deep .pagination a:hover {
    color: #30caa0;
    border-color: #30caa0;
}
ngb-pagination ::ng-deep .page-item.active .page-link {
    color: #30caa0 !important;
    border-color: #30caa0 !important;
    background-color: white !important;
}
ngb-pagination ::ng-deep .page-item.disabled .page-link {
    background-color: #DCDCDC !important;
    color: black !important;
}
