<app-page-top [isHomePage]="false" imgPageTop="../../../assets/page-top-bg.png"></app-page-top>
<div class="container">
    <app-loading *ngIf="loading"></app-loading>
    <div class="" *ngIf="!loading">
        <app-breadcrumb></app-breadcrumb>
        <div class="row pb-3" style="height: 400px;">
            <div *ngFor="let item of filterCase" class="col-md-6 col-lg-6 col-sm-12 mt-3">
                <div class="card" style="width: 70%;">
                    <div class="card-body">
                        <h5 class="card-title">{{item.category2 || item.category1}}</h5>
                        <a href="{{item.url}}" target="__blank" class="card-link">Chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
        <app-pagination [length]="lstCate.length" (changePage)="changeCurPage($event)" [curPage]="curPage">
        </app-pagination>
    </div>
</div>