<app-page-top [isHomePage]="false" imgPageTop="../../../assets/page-top-bg.png"></app-page-top>
<div class="container">
    <app-breadcrumb></app-breadcrumb>

    <div class="d-flex">
        <div class="w-60">
            <owl-carousel [options]="{
                items: 1,
                dots: true,
                nav: false,
                autoplay: true,
                loop: true
              }" [carouselClasses]="['clients-slider']">
                <div *ngFor="let item of data">
                    <div class="sl-item set-bg" [ngStyle]="{'background-image': 'url('+item.img+')'}">
                        <div class="sale-notic">{{item.caption}}</div>
                    </div>
                </div>
            </owl-carousel>

            <owl-carousel [options]="options" [carouselClasses]="['clients-slider','single-list-slider']">
                <div *ngFor="let item of data" style="height: 80px; margin-right: 10px;">
                    <img src="{{item.img}}" alt="" style="width: 100%;height: 100%;">
                </div>
            </owl-carousel>

            <div class="detail-content">
                <div class="row">
                    <div class="col-xs-8 col-md-8 col-lg-8 sl-title">
                        <h2>305 North Palm Drive</h2>
                        <p><i class="fas fa-map-marker pr-1" style="color: #30caa0;"></i>Beverly Hills, CA 90210</p>
                    </div>
                    <div class="col-xl-4 mb-3">
                        <a href="#" class="price-btn">$4,500,000</a>
                        <div style="padding: 9px">$1,200/sq ft</div>
                    </div>
                </div>
                <h3 class="sl-sp-title">Thông tin chi tiết </h3>
                <div class="row property-details-list">
                    <div class="col-md-4 col-sm-6">
                        <p><i class="fas fa-th-large"></i> 100 m2</p>
                    </div>
                </div>
                <h3 class="sl-sp-title">Mô tả</h3>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus egestas fermentum ornareste.
                        Donec index lorem. Vestibulum aliquet odio, eget tempor libero. Cras congue cursus tincidunt.
                        Nullam venenatis dui id orci egestas tincidunt id elit. Nullam ut vuputate justo. Integer lacnia
                        pharetra pretium. Casan ante ipsum primis in faucibus orci luctus et ultrice.</p>
                </div>
                <!-- <h3 class="sl-sp-title bd-no">Floorplans</h3>
                <div id="accordion" class="plan-accordion">
                    <div class="panel">
                        <div class="panel-header" id="headingOne">
                            <button class="panel-link active" data-toggle="collapse" data-target="#collapse1"
                                aria-expanded="true" aria-controls="collapse1">First Floor: <span>660 sq ft</span> <i
                                    class="fas fa-angle-down"></i></button>
                        </div>
                        <div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="panel-body">
                                <img src="../../../../assets/plan-sketch.jpg" style="width: 100%;height: 100%;" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-header" id="headingTwo">
                            <button class="panel-link active" data-toggle="collapse" data-target="#collapse2"
                                aria-expanded="true" aria-controls="collapse2">Second Floor:<span>610 sq ft.</span> <i
                                    class="fas fa-angle-down"></i>
                            </button>
                        </div>
                        <div id="collapse2" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="panel-body">
                                <img src="../../../../assets/plan-sketch.jpg" style="width: 100%;height: 100%;" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-header" id="headingThree">
                            <button class="panel-link active" data-toggle="collapse" data-target="#collapse3"
                                aria-expanded="true" aria-controls="collapse3">Third Floor :<span>580 sq ft</span> <i
                                    class="fas fa-angle-down"></i>
                            </button>
                        </div>
                        <div id="collapse3" class="collapse show" aria-labelledby="headingThree"
                            data-parent="#accordion">
                            <div class="panel-body">
                                <img src="../../../../assets/plan-sketch.jpg" style="width: 100%;height: 100%;" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="sl-sp-title bd-no">Video</h3>
                <div class="perview-video">
                    <img src="../../../../assets/video.jpg" alt="" style="width: 100%;height: 100%;">
                    <a href="https://www.youtube.com/watch?v=v13nSVp6m5I" target="blank" class="video-link"><img
                            src="../../../../assets/video-btn.png" alt=""></a>
                </div> -->
            </div>
        </div>
        <div class="w-40 pl-5">
            <div class="container">
                <div class="row">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mx-auto">
                                <div class="col-5 border-bottom p-3">
                                    <img src="https://robohash.org/68.186.255.198.png" alt=""
                                        class="mx-auto rounded-circle img-fluid">
                                </div>
                                <div class="col-7 my-auto">
                                    <h3 class="mb-0 text-truncated">Duc, Pham</h3>
                                    <p class="lead">Web / UI Designer</p>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-12">
                                    <i class="fas fa-phone-alt pr-1" style="color: #30caa0;"></i>(+88) 666 121 4321
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 pt-2">
                                    <i class="far fa-envelope pr-1" style="color: #30caa0;"></i> ducptd98@gmail.com
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5 mb-3">
                    <div class="card w-100">
                        <div class="card-body">
                            <div class="row mx-auto">
                                <h5 class="text-truncated"> Bạn có thắc mắc gì ko?</h5>
                            </div>
                            <div class="row">
                                <form class="form-group w-100 my-auto">
                                    <div class="container">
                                        <div class="row p-2">
                                            <input class="form-control" type="text" placeholder="Your name">
                                        </div>
                                        <div class="row p-2">
                                            <input class="form-control" type="text" placeholder="Your email">
                                        </div>
                                        <div class="row p-2">
                                            <textarea class="form-control" placeholder="Your question"></textarea>
                                        </div>
                                        <div class="row p-2">
                                            <button class="btn btn-send">SEND</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <h3>Related Property</h3>
                <div class="row mt-4">
                    <div class="w-100">
                        <app-property-card srcImage="1.jpg"></app-property-card>
                    </div>
                    <div class="w-100">
                        <app-property-card srcImage="1.jpg"></app-property-card>
                    </div>
                    <div class="w-100">
                        <app-property-card srcImage="1.jpg"></app-property-card>
                    </div>
                    <div class="w-100">
                        <app-property-card srcImage="1.jpg"></app-property-card>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>